<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ready to Juke?</h1>
    <p>
      Your friend <%= @setlist.host.username %> has invited you to join his juke with an invite code of: <h3><%= @setlist.invite_code %></h3>.
      <br>
    </p>
    <p>Use this code to join this Juke!</p>
  </body>
</html>
