<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ready to Juke?</h1>
    <p></p>
    <p>Your friend <%= @setlist.host.username %> has invited you to share and collaborate on a spotify playlist with Juke.</p></br>

    <p>Go to <a href="http://jukeapp.herokuapp.com">http://jukeapp.herokuapp.com</a> and use code <%= @setlist.invite_code %> to join a Juke.</p>
  </body>
</html>
