<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ready to Juke?</h1>
    <p>
      Your friend <%= @setlist.host.username %> has invited you to join a juke with invite code: <h3><%= @setlist.invite_code %>.</h3>
      <br>
    </p>
    <p>Use this code to join your friend's Juke!</p>
    <p>http://jukeapp.herokuapp.com/</p>
  </body>
</html>
