<div class="invite_form">
  <%= form_tag(setlist_send_invites_path(@setlist), method: :get) do %>
    <p>To send email invitiations to this Juke, input comma-seperated emails below:</p>
    <%= text_area_tag(:send, nil, size: "40x8") %>
    <br>
    <span id="invite_submit_button"><%= submit_tag("Send Invites!") %></span>
  <%end%>
</div>
