setlist/:id/edit
<div class="current_list_container">
  <%= render partial: "show_partial", locals: {list_title: "Current Playlist", setlist_songs: @setlist.setlist_songs.where(list_status: 2)} %>
</div>

<div class="suggested_songs_container">
  <%= render partial: "show_partial", locals: {list_title: "Suggestions", setlist_songs: @setlist.setlist_songs.where(list_status: [0,1])} %>
</div>
