<div class="invite_button">
  <%= button_to "Invite", setlist_invite_path(@setlist), method: :get %>
</div>

<div class="both_lists">
  <div class="setlist_title">
    <h2><%= @setlist.name %></h2>
  </div>
  <div class="current_list_container">
    <ol>
    <!-- 
    The following selection logic is too much for a view. What does status 2 mean?
    It presumably has some meanding like "live" or "aproved"? 
    Define a meaningfully-named method on setlist like approved_songs and just reference that here
    -->
    <%= render partial: "show_partial", locals: {list_title: "Current Playlist", setlist_songs: @setlist.setlist_songs.where(list_status: 2)} %>
    </ol>
  </div>

  <div class="suggested_songs_container">
    <%= render partial: "show_partial", locals: {list_title: "Suggested Tracks", setlist_songs: @setlist.setlist_songs.where(list_status: [0, 1])} %>
  </div>
</div>
