<div class="jukebox">
 <iframe src="https://embed.spotify.com/?uri=spotify:user:cgrad01:playlist:5dlWFDTEZ0TjNtsyQDqLhU" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>


<!-- https://play.spotify.com/user/myplay.com/playlist/5l6rFyXN63iINVsbaBObag -->
