<div class="jukebox">
  <p> <%= @setlist.name %><br>
  <iframe src="https://embed.spotify.com/?uri=spotify:user:<%= @setlist.host.uid %>:playlist:<%= @playlist %>" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>


