<div class="showpage_songs_container">
  <div class="showpage_songs_container_spotify">


    <%= render partial: "show_partial", locals: {list_title: "Spotify Playlist", setlist_songs: @setlist_songs.where(list_status: 2)} %>
  </div>
  <div class="showpage_songs_container_pending">
    <%= render partial: "show_partial", locals: {list_title: "Pending Suggestions", setlist_songs: @setlist_songs.where(list_status: [0,1])} %>
  </div>
</div>
<h2 class="search_form"><%=render partial: "search/new", locals: {setlist_id: @setlist.id}%></h2>

