<div class="new_juke_button">
    <%= button_to "new JUKE", new_juke_path, method: :get, class: "button" %>
</div>

<div class="join_juke_button">
    <%= button_to "join JUKE", invite_code_path, method: :get, class: "button" %>
</div>

<div class="my_jukes_button">
    <%= button_to "my JUKES", user_path(@user), method: :get, class: "button" %>
</div>
