<div class="showpage_users_container">
  <div class="my_jukes">
    <h3>My Jukes</h3>
    <ol>
      <% @user.setlists.each do |setlist| %>
        <li><%= setlist.name %></li>
      <% end %>
    </ol>
  </div>

  <div class="my_friends_jukes">
    <h3>My Friends Jukes</h3>
    <ol>
      <% @user.viewable_lists.each do |setlist| %>
        <li><%= setlist.name %></li>
      <% end %>
    </ol>
  </div>
</div>
