<div class="showpage_users_container">
  <div class="my_jukes_on_show_page">
    <% if !@user.setlists.empty? %>
    <h3>My Jukes</h3>
    <ul>
      <% @user.setlists.each do |setlist| %>
        <li><%= link_to setlist.name, edit_setlist_path(setlist) %> | <%= button_to('Destroy', setlist_path(setlist),
          method: "delete") %></li>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="my_friends_jukes_on_show_page">
    <% if !@user.guest_setlists.empty? %>
      <h3>My Friends Jukes</h3>
      <ul>
        <% @user.guest_setlists.each do |guest_list| %>
          <li><%= link_to guest_list.setlist.name, setlist_path(guest_list.setlist) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

</div>
