<div class="showpage_users_container">
  <% if @user.viewable_lists %>
    <h3>My Jukes</h3>
    <% @user.viewable_lists.each do |item| %>
      <ul>
        <li><%= item.name %></li>
      </ul>
    <% end %>
  <% end %>

  <% if @user.setlists %>
    <h3>My Friends Jukes</h3>
    <% @user.setlists.each do |item| %>
      <ul>
        <li><%= item.name %></li>
      </ul>
    <% end %>
  <% end %>
</div>
