.join_juke_form {
  display: none;
}

.songs_container, .suggested_songs_container {
  width: 40em;
  margin-left: 2em;
  /*display: inline-block;*/
}

.songs_container {
  margin-top: 1em;
}

.suggested_songs_container {
  border: 1px solid black;
  margin-left: 60em;
  margin-top: -168em;
}

.song_details {
  font-size: 10pt;
  /*text-decoration: bolder;*/
}

.artist_name {
  font-style: italic;
}

.album_name {
  font-weight: bold;
}
