.edit_page_container {
  position: relative;
}

.invite_button {
  position: relative;
  text-align: center;
  height:1.5em;
  right: 1.8em;
  width: 10em;
  border: 1px black solid;
  border-radius: 10px;
  font-family: 'Architects Daughter', cursive;
  font-size: 2em;
}

.both_lists {
  position: relative;
  top: -8em;
}

.current_list_container {
  display: none;
}

.suggested_songs_container {
  display: none;
}


.both_list_links {
  position: relative;
  text-align: center;
  top: 1em;
  left: 40%;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5em;
}

.both_list_links a {
  text-decoration: none;
  color: black;
}

.both_list_links a:visited {
  color: black;
}

#current_list_link {
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  width: 17.3em;
  padding-top: 1em;
  padding-bottom: 1em;
  right: 2.5em;

}

#suggested_list_link {
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  width: 17.3em;
  padding-top: 1em;
  padding-bottom: 1em;
  right: 2.5em;
}

#hide_button {
  font-size: 2em;
  position: relative;
  bottom: 2em;
  width: 17.3em;
  padding-top: 1em;
  padding-bottom: 1em;
  display: none;
  z-index: 1
}

#invite_submit_button {
  border: 1px black solid;
  border-radius: 10px;
}

#edit_setlist_title {
position: relative;
left: 2em;
}

.link_to_player_page {
  position: absolute;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
  letter-spacing: 5px;
  font-family: 'Rock Salt', cursive;
  font-size: 1em;
  left: 2em;
  top: -5.5em;
}

.link_to_player_page a{
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
  letter-spacing: 5px;
  font-family: 'Rock Salt', cursive;
   text-decoration: none;
}

.link_to_player_page a:hover{
  color: black;
}

#reorder_juke_link {
  position: absolute;
  top: .1em;
  z-index: 1;
  margin-top: -3em;
}
