body {
  position: relative;
  margin: 0;
  position:relative;
  padding-bottom: 100px;
}

.header {
  position: relative;
  border: 1px solid black;
  height: 5em;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 0
}

#site_bg {
  position: fixed;
  top: -5em;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.header a{
  color: white;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height:2.5em;
  background-color: black;
  color: white;
}

.footer span {
  position: relative;
  top: .5em;
  padding-left: 1em;
}

.footer_juke_link a {
  color: white;
  text-decoration: none;

}

.footer_juke_link a:visited {
  color: white;
  text-decoration: none;

}

a#header-juke-link {
  font-size:20pt;
  margin-left:20em;
  margin-top: 2em;
  text-align: center;
}
.logo {
  font-family: 'Rock Salt', cursive;
  margin-left: 50%;
  font-weight: bolder;
  font-size: 20pt;
  text-align: center;
}

.user_icon {
  float:right;
  width: 60px;
  height: 60px;
  border: 1px solid red;
  margin-right: 2em;
  margin-top: .5em;
  padding:0;

}

.logo img {
  position: relative;
  right: 1em;
  height: 2em;
}

.login_and_logout {
  position: absolute;
  float: right;
  top: 2em;
  right: 2em;
}

#hello_sign {
  position: absolute;
  float: right;
  right: 2em;
  bottom: 2em;
}

.errors {
  text-align: center;
  margin: 20px auto;
  width: 600px;
  margin-bottom: -10%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  color: red;
}

.errors ul {
  list-style-position: inside;
}

.field_with_errors {
  display: inline-block;
}

.field_with_errors input{
  background-color: yellow;
}

.flash_container {
    text-align: center;
}
