body {
  margin: 0;
}

.header {
  border: 1px solid black;
  height: 5em;
  background-color: black;
  color: white;
}

.header a{
  color: white;
  text-decoration: none;
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:2.5em;
   background-color: #6cf;
}

a#header-juke-link {
  font-size:20pt;
  margin-left:20em;
  margin-top: 2em;
  text-align: center;
}
.logo {
  margin-left: 50%;
  font-weight: bolder;
  font-size: 20pt;
  text-align: center;
}

.user_icon {
  float:right;
  width: 60px;
  height: 60px;
  border: 1px solid red;
  margin-right: 2em;
  margin-top: .5em;
  padding:0;

}

.login_and_logout {
  margin-left: 60em;
}
