.jukebox p {
  text-align: center;
  position: relative;
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
  letter-spacing: 5px;
  font-family: 'Rock Salt', cursive;
}

.spotify_player {
  position: relative;
  left: 18%;

}
