.join_juke_form {
  display: none;
}

.songs_container {
  margin-top: 1em;
}

.new_playlists_body {
  text-align: center;
}

#new_playlists_header {
  text-align: center;
  position: relative;
  font-size: 2em;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
  letter-spacing: 5px;
  font-family: 'Rock Salt', cursive;
}

.current_list_container {
  position: relative;
  top: -4em;
  font-family: 'Architects Daughter', cursive;
  left: 18%;
  display: none;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  height: 40em;
  overflow-y: auto;
}

.spotify_playlist_container  {
  position: relative;
  right: 3em;
}

.suggested_songs_container {
  position: relative;
  top: -4em;
  font-family: 'Architects Daughter', cursive;
  left: 33%;
  display: none;
  margin-right: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
  height: 40em;
  overflow-y: auto;
}

.setlist_title {
  text-align: center;
  position: relative;
  top: -.5em;
  font-size: 1.5em;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
  letter-spacing: 5px;
  font-family: 'Rock Salt', cursive;
  margin-bottom: -1em
}

#show_setlist_name {
  font-size: 3em;
}

.playlists_label {
  font-family: 'Rock Salt', cursive;
}

.song_name {
  font-family: 'Architects Daughter', cursive;
  font-size: 2em
}

.song_details {
  font-size: 1.5em;
}

.artist_name {
  font-style: italic;
}

.album_name {
  font-weight: bold;
}

.showpage_songs_container ol {
  text-align: center;
}

.search_form form {
  text-align: center;
  font-size: 1em;
  position: relative;
  font-family: 'Architects Daughter', cursive;
  margin: 0 auto;
  left: 3em;
  top: 3em;
  height: 5em;
  z-index: 0
}

.song {
  font-size: 1.5em;
}

.song_details {
  font-size: 1em;
}

.search_form form input {
  font-size: 1em;
  text-align: center;
  background-color: transparent;
}

.current_list_container #update_button{
  display:none;
}

.list_title {
  text-align: center;
  text-decoration: underline;
}
